@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h1 {
    margin: 3rem 0;
  }
  .tapDeviceIcon {
    margin: 4rem 0;
    width: 243px;
    height: 243px;
    border: 1px solid none;
    cursor: pointer;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: #58595b;
    box-shadow: -37px 37px 74px rgba(77, 77, 79, 0.2),
      37px -37px 74px rgba(77, 77, 79, 0.2),
      -37px -37px 74px rgba(99, 101, 103, 0.9),
      37px 37px 93px rgba(77, 77, 79, 0.9);
    animation: pulsate-fwd 3s ease-in-out infinite both;
    span {
      color: white;
      font-size: 2.1rem;
    }
  }
  a {
    margin: 0 0.2rem;
    cursor: pointer;
  }
}
